{{define "layout"}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>OpenCamp</title>
		<style>@import url("/public/stylesheets/main.css");</style>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		{{template "head" .}}
	</head>
	<body>
		<header>
			<div>
				<h1>OpenCamp</h1>
				<ul id="list">
					<li><a href="#About" data-menu="About">About</a></li>
					<li><a href="#Location" data-menu="Location">Location</a></li>
					<li><a href="#Register" data-menu="Register">Register</a></li>
					<li><a href="#Schedule" data-menu="Schedule">Schedule</a></li>
					{{if eq .Mode "pc"}}
					<li><a href="#Organizers" data-menu="Organizers">Organizers</a></li>
					{{end}}
				</ul>
			</div>
		</header>
		{{template "contents" .}}
		<footer>
			<p>
				Copyright ZeroPage all right reserved 2014,
				Designed By BlueMir, Work by BlueMir.
			</p>
			<p>
				본 행사는 Std.IO 학생 개발자 커뮤니티의 활동중 하나이고 다양한 학교의 자원봉사자의 힘으로 진행되며
				그 노력을 응원하는 중앙대학교 컴퓨터공학부의 도움을 받고 있습니다.
			</p>
		</footer>
	</body>
</html>
{{end}}
