{{define "head"}}
{{if eq .Mode "pc"}}
<style>@import url("/public/stylesheets/pc.css");</style>
{{else if eq .Mode "mobile"}}
<style>@import url("/public/stylesheets/mobile.css");</style>
{{end}}
{{end}}
{{define "contents"}}
<article class="main">
	<section id="Intro"
		{{if eq .Mode "pc"}}
		data-top="background-position-y:0px;"
		data-top-bottom="background-position-y:-150px;"
		{{end}}
	>
		<a name="Intro" class="anchor"> </a>
		<div class="contents"
			{{if eq .Mode "pc"}}
			data-top-top="opacity:1;display:!block"
			data-5p-bottom="opacity:0"
			data-100-top-bottom="display:!none"
			data-anchor-target="#Intro"
			{{end}}
		>
			<h1>Open Camp</h1>
			<p>2014년 4월 26일</p>
			<p>여러분이 경험하지 못했던 해커톤이 다가옵니다.</p>
		</div>
	</section>
	<section id="About">
		<a name="About" class="anchor"></a>
			<h2 
				{{if eq .Mode "pc"}}
				data-bottom-top="opacity:0"
				data-200-top-top="opacity:1"
				{{end}}
			>What is OpenCamp</h2>
		<div class="wapper">
			<p class="description">
				OpenCamp는 팀을 만들어와서 단순히 프로젝트만을 진행하던 기존의 해커톤과는 달리, Ice Breaking과 같은 다양한 활동들을 통해 새로운 사람과 팀을 만들게 하여 여러 사람들과 어울릴 수 있는 기회를 제공합니다. 프로젝트 완성과 새로운 사람과의 만남을 동시에 잡을 수 있는 다시 없을 절호의 기회! 지금 바로 신청하세요!
			</p>
			<h3>해커톤을 하고 나서 당신이 얻는 것</h3>
			<ul>
				<li>항상 보던 사람이 아닌, 처음 만난 사람들과 원하는 것을 만들며 서로 친해질 수 있습니다.</li>
				<li>결과를 떠나서 함께 만들어가는 과정에서 새로운 기술, 사람, 그리고 즐거움을 얻을 수 있습니다.</li>
				<li>행사에서 새로 알게 된 사람들과 지속적인 교류를 통해 더 넓은 관계를 구축할 수 있습니다.</li>
				<li>당신의 멋진 아이디어를 구현해줄 개발자, 당신의 개발물을 이쁘게 만들어줄 디자이너.</li>
			</ul>
			<dl>
				<dt>일시</dt>
				<dd>2014.4.26(토) 13:00 ~ 27(일) 12:00</dd>
				<dt>상품</dt>
				<dd>Chrome Cast, 포켓포토, 킨들파이어HD, 기계식키보드, 블루투스 헤드셋, 블루투스 키보드&마우스, 모니터, CERT책 등</dd>
				<dt>준비물</dt>
				<dd>
					<span 
						data--20p-bottom="color:rgb(0,0,0);font-size:1em" 
						data--40p-bottom="color:rgb(255,0,0);font-size:1.3em"
					>열정</span>과 
					<span
						data--30p-bottom="color:rgb(0,0,0);font-size:1em"
						data--50p-bottom="color:rgb(0,0,128);font-size:1.3em"
					>아이디어</span> 그리고 
					<span 
						data-100-center="color:rgb(0,0,0);font-size:1em"
						data--100-center="color:rgb(0,128,0);font-size:1.5em"
					>당신</span></dd>
				<dt>주제</dt>
				<dd>꿈, 연결, 일탈 그리고 <span 
						data-0-bottom="color:rgb(0,0,0);font-size:1em"
						data-0-center="color:rgb(128,0,0);font-size:1.5em"
					>닭<span>
					</dd>
			</dl>
			<p>
				※ 개발에 필요한 컴퓨터 및 장비는 참가자가 직접 준비해 주셔야 합니다.<br/>
				※ 식사 및 간단한 스낵은 전 행사 기간중에 무료로 제공됩니다.<br/>
				※ 참가확인증 발급하여 드립니다.<br/>
			</p>
		</div>
	</section>
	<section id="Location">
		<a name="Location" class="anchor"> 
			<h2>Location</h2>
		</a>
		<div id="map">
			<p>동작구 흑석동 중앙대학교 208관 601호(제 2공학관 6층)</p>
			<img src="http://prt.map.naver.com/mashupmap/print?key=p1395110508855_-1341496068" alt="지도" title="지도" border="0">
			<span>지도 크게 보기 : </span>
			<a href="http://map.naver.com/?dlevel=12&pinType=site&pinId=19029763&x=126.9570857&y=37.5036786&enc=b64">
				<img src="/public/images/naver_map.png"/>
			</a>
			<a href="http://map.daum.net/?urlX=490507&urlY=1112260&urlLevel=3&itemId=17566759&q=%EC%A4%91%EC%95%99%EB%8C%80%ED%95%99%EA%B5%90+%EC%A0%9C2%EA%B3%B5%ED%95%99%EA%B4%80&srcid=17566759&map_type=TYPE_MAP">
				<img src="/public/images/daum_map.png"/>
			</a>
			<a href="https://www.google.com/maps/place/37%C2%B030%2713.0%22N+126%C2%B057%2725.2%22E/@37.503618,126.957009,15z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0">
				<img src="/public/images/google_map.jpg"/>
			</a>
		</div>
		<h3>주변 대중교통</h3>
		<dl>
			<dt>지하철</dt>
			<dd id="subway">
			<ul>
				<li><span class="line-7">7호선</span> 상도역 5번출구</li>
				<li><span class="line-9">9호선</span> 흑석역 3, 4번 출구</li>
			</ul>
			</dd>
			<dt>버스</dt>
			<dd id="bus">
			<ul>
				<li><span class="blue-label">간선</span> 151, 501, 506, 750A, 750B</li>
				<li><span class="green-label">마을</span> 동작 1, 동작 10, 동작 21</li>
				<li><span class="green-label">지선</span> 5511, 5517, 5524</li>
			</ul>
			</dd>
		</dl>
	</section>
	<section id="Register">
		<a name="Register" class="anchor">
			<h2>Register</h2>
		</a>
		{{if eq .Mode "pc"}}
		<img src="/public/images/notepad.png"/>
		{{end}}
		<p>
			  참가신청은 4월 15일까지이며 사정에 따라 조기 마감될 수 있습니다. 참가신청을 했다고 해서 해커톤에 참가할 수 있는 것은 아니며, 추첨을 통해 참가자를 선정할 것입니다. 선정되신 분들에게 20일까지 별도의 메일을 전달해드릴 예정입니다.
		</p>
		<p>팀은 해커톤 당일, 아이스 브레이킹 및 팀 매칭 시간에 만들어지고, 1팀은 4인으로 구성됩니다. 2인 팀(듀오)으로 참가신청을 하실 경우 나머지 두 팀원을 구하게 될 것이며, 개인(솔로)으로 신청하실 경우 등록 시에 남겨주신 정보를 고려하여 주최 측에서 2인 팀(듀오)으로 묶어서 4월 20일까지 팀원 정보를 메일로 전달해드릴 예정입니다.
		</p>
		<span>
			※ 상황에 따라 3인 팀이 생길 수도 있습니다.
		</span>
		<a href="https://docs.google.com/forms/d/1JlJ14AQiR3moVW16uhbphgoX5-6AKDa1es8udQ9hRiM/viewform" class="btn">신청하러 가기</a>
	</section>
	<section id="Schedule">
		<a name="Schedule" class="anchor">
			<h2>Schedule</h2>
		</a>
		<table>
			<thead>
				<tr>
					<th>시간</th><th>내용</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>13:00 ~ 13:30</td>
					<td>행사 소개</td>
				</tr><tr>
					<td>13:30 ~ 15:00</td>
					<td>아이스 브레이킹 및 팀 매칭</td>
				</tr><tr>
					<td>15:00 ~ 17:30</td>
					<td>RUNNING! - 본 행사</td>
				</tr><tr>
					<td colspan="2" class="middle">저녁 식사</td>
				</tr><tr>
					<td>18:30 ~ 23:30</td>
					<td> RUNNING!</td>
				</tr><tr>
					<td>23:30 ~ 24:30</td>
					<td>페차쿠차(팀 아이디어 소개)</td>
				</tr><tr>
					<td>24:30 ~ 08:00</td>
					<td>RUNNING with CHICKEN</td>
				</tr><tr>
					<td colspan="2" class="middle">아침 식사</td>
				</tr><tr>
					<td>09:00 ~ 10:00</td>
					<td>마무리 개발</td>
				</tr><tr>
					<td>10:00 ~ 11:30</td>
					<td>발표</td>
				</tr><tr>
					<td>11:30 ~ 11:50</td>
					<td>회고</td>
				</tr><tr>
					<td>11:50 ~ 12:00 </td>
					<td>시상</td>
				</tr>
			</tbody>
		</table>
	</section>
	<section id="Organizers">
		<h2>Organizers</h2>
		<table
			{{if eq .Mode "pc"}}
			data-bottom-top="opacity:0;"
			data--100-center-top="opacity:1;"
			{{end}}
		>
			<tr>
				<td><img src="/public/images/young.jpg"/></td>
				<td><span class="name">권영기</span>대석사시대에 편승하고 있는 ZeroPage 일개 회원. ZeroPage의 Chicken 요청을 담당하고 있다.</td>
			</tr>
			<tr>
				<td><img src="/public/images/kim.jpg"/></td>
				<td><span class="name">Jongchan Kim</span>10년동안 나선환만 가지고 살아온 나루토와같은 인생을 살겠다며, Android만 가지고 장인정신을 발휘해보겠다는 생각을 가진 Android Developer. 그러나 요즘은 GAE와 같은 Backend 플랫폼에 눈독을 들이는 중.</td> 
			</tr>
			<tr>
				<td><img src="/public/images/jereneal.jpg"/></td>
				<td><span class="name">김태진(Jereneal)</span>ZeroPage의 연금술사. OpenCamp의 자금을 지배한다.</td>
			</tr>
			<tr>
				<td><img src="/public/images/bluemir.jpg"/></td>
				<td><span class="name">안혁준(BlueMir)</span>매일 매일 삽질하는 자칭 오픈소스 개발자. node.js와 Git을 중앙대에서 가장 잘한다고 하지만 확인되지는 않음. facebook 보다 github을 많이 본다고 함.</td>
			</tr>
			<tr>
				<td><img src="/public/images/yoon.jpg"/></td>
				<td><span class="name">Jake Yoon</span>좋아하는 일(취미)이 해야하는 일(업무)이 모두 개발이라고 하는 특이한 대학생</td>
			</tr>
			<tr>
				<td><img src="/public/images/chokh.jpg"/></td>
				<td><span class="name">조광희</span>코딩도 못하면서 일만 벌이는 학생 개발자</td>
			</tr>
			<tr>
				<td><img src="/public/images/choi.jpg"/></td>
				<td><span class="name">최다인(MeYou)</span>시작 할땐 학생 개발자, 지금은 백수</td>
			</tr>

		</table>
	</section>
	<script src="/public/javascripts/skrollr.js"></script>
	{{if eq .Mode "pc"}}
	<script src="/public/javascripts/main.js"></script>
	{{end}}
	<script src="/public/javascripts/scrollspy.js"></script>
</article>
{{end}}
