.main section {
	padding : 0px 10px;
}

#Intro {
	background : url(../images/slide-1.jpg) black;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height : 500px;

	background-size : 320px; /* iPhone */
	background-size : cover;
	padding : 0px 0px; /*cancel entire padding*/
}
#Intro .anchor {
	margin-bottom : 200px;
	display : inline-block;
}
#Intro h1 {
	font-size : 2em;
}
#Intro .contents {
	text-align : right;
	padding : 0px 20px;
	background : rgba(150, 150, 150, 0.3);
	text-shadow : 1px 1px 3px #fff;
	padding : 10px;
}
#About h2 {
	width : 200px;
	height : 60px;
	line-height : 28px;
	font-size : 30px;
	border-radius : 100px;
	text-align : center;
	background : green;
	padding :  70px 0px;
	float : left;

	margin-right : 10px;
	
	border-bottom : none;/*cancel underline*/
	box-shadow : 3px 3px 1px 1px #9dca73;
}
#About p.description{
	min-height: 200px;
	vertical-align: middle;
}
#About h3 {
	clear : both;
}

#About dl {
	padding-left : 20px;
}

#Schedule table {
	width : 100%;
	border-spacing : 10px;
	margin : auto;
}

#Organizers table {
	width : 100%;
}
