header>div {
	max-width : 1000px;
	margin : auto;
}
.main section {
	max-width: 1000px;
	min-width: 600px;
	padding : 0px 10px;
	margin : auto;
}
header h1 {
	font-size : 3em;
}
header ul li {
	font-size : 1.3em;
}

#Intro {
	background : url(../images/slide-1.jpg) black;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size : cover;

	max-width: 9999px; /*cancel max-width*/
	padding : 0px 0px; /*cancel padding*/
}
#Intro h1 {
	font-size : 3em;
	margin : 0px;
	margin-bottom : 40px;
}
#Intro p {
	font-size : 1.2em;
	margin : 5px;
	
}
@media (max-width:900px) {
	#Intro p {
		font-size : 1em;
	}
}
#Intro .contents {
	text-align : right;
	text-shadow: 1px 1px 1px #000;
	color : white;
	position : fixed;
	top : 50%;
	left : 50%;
	padding : 50px 20px;
	border-radius : 20px;
	background : rgba(20,20,20,0.6);
	background : radial-gradient(ellipse at center, rgba(0,0,0,0.6) 0%,rgba(229,229,229,0.0) 80%); 
}
#About .wapper{
	margin-left : 460px;
}
#About h2 {
	width : 400px;
	height : 100px;
	line-height : 48px;
	font-size : 50px;
	border-radius : 200px;
	text-align : center;
	padding :  150px 0px;
	float : left;

	margin-right : 10px;
	
	border-bottom : none;/*cancel underline*/
}
#About p.description{
	vertical-align: middle;
}

#map {
	float : left;
	max-width : 60%;
}
#Register p {
	width : 90%;
	max-width : 800px;
	border-spacing : 10px;
	margin : auto;
}
#Register img{
	float : left;
	margin : 0px 70px;
}
#Register a.btn {
	margin-left : 440px;
}

#Schedule table {
	width : 90%;
	max-width : 800px;
	border-spacing : 10px;
	margin : auto;
}

#Organizers table {
	width : 90%;
	max-width : 800px;
}
